<div class="row">
  <div class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
    <h2><%= @blog_post.title %></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
    автор: <i><%= @blog_post.user.name%></i>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div  class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
    <article><p class="text-justify">
      <%= @blog_post.content %>
    </p></article>
  </div>

</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-7 col-md-2 col-md-offset-8">
    <br>
    <i><%= @blog_post.publish_date.strftime("%d.%m.%Y %H:%M") %></i>
  </div>

</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
    <%= link_to 'Назад', blog_posts_path, :class => "btn btn-primary" %>
    <% if has_access('blog_posts', 'edit') && is_owner(@blog_post) || is_superuser %>
      <%= link_to 'Редактировать', edit_blog_post_path(@blog_post), :class => "btn btn-success" %>
    <% end %>
    <% if has_access('blog_posts', 'destroy')  && is_owner(@blog_post) || is_superuser %>
      <%= link_to 'Удалить', @blog_post, method: :delete, data: { confirm: 'Удалить запись?' }, :class => "btn btn-warning" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-5">
    <% if @blog_post.post_comments.any? %>
      <hr>
      <h5>Комментарии [<%= @blog_post.post_comments.count %>] </h5>
      <%= will_paginate @post_comments %>
      <div class="post_comments">
        <%= render @post_comments %>
      </div>
      <%= will_paginate @post_comments %>
    <% end %>
  </div>
</div>

<% if has_access('post_comments', 'create') %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-5">
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= current_user.name%></strong>
        </div>
        <div class="panel-body">
          <%= form_for([@blog_post, @blog_post.post_comments.build]) do |form| %>
            <div class="field form-group">
              <%= form.text_area :content, :rows => 3, :class => 'form-control' %>
            </div>

            <div class="actions">
              <%= form.submit "Сохранить", :class => 'btn btn-success pull-right' %>
            </div>
          <% end # loop %>
        </div>
      </div>
    </div>
  </div>
<% end %>
