<div class="row">
    <div class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
      <h2><%= @blog_post.title %></h2>
      <hr>

      <article><p class="text-justify">
          <%= @blog_post.content %>
      </p></article>
    </div>
</div>
<div class="row">
  <div class="col-sm-3 col-sm-offset-7 col-md-2 col-md-offset-8">
    <br>
    <i><%= @blog_post.publish_date.strftime("%d.%m.%Y %H:%M") %></i>
  </div>

</div>
<div class="row">
  <div class="col-sm-3 col-sm-offset-1 col-md-offset-2">
    <% if current_user && current_user.is_admin? %>
      <%= link_to 'Назад', blog_posts_path, :class => "btn btn-primary" %>
      <%= link_to 'Редактировать', edit_blog_post_path(@blog_post), :class => "btn btn-success" %>
    <% end %>

  </div>
</div>





