<!DOCTYPE html>
<html>
  <head>
    <title>Blog-Digest.test - Лучший новостной блог рунета!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header >
      <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to "Блог", root_path, :class => 'navbar-brand'%>
              <!-- <a class="navbar-brand" href="#">SampleApp</a> -->
            </div>
            <ul class="nav navbar-nav">
              <li><%= link_to "Новости", root_path %></li>
              <% if current_user && current_user.is_admin? %>
                <li><%= link_to "Пользователи", users_path %></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><p class="navbar-text">Здравствуйте, <%= link_to current_user.email, edit_user_registration_path %></p></li>
                <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                  <li><%= link_to 'Войти', new_user_session_path %></li>
                  <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
      <hr>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
